.slotnavbar{
    width:1000px;
    height:30px;
    margin-top: 10px;
    margin-left: 200px;
    /* background-color: blanchedalmond; */
    position: absolute;
}
.navtoolbar{
    width:800px;
    height:20px;
    margin-left: 500px;
    position: absolute;
    /* background-color: burlywood; */
}
.heading{
    float:left;
}
.userlabel{
    float:left;
    width:300px;
}
.links{
    float:left;
    margin-left: 20px;
}
.logoutbutton{
    float:left;
}
.adminDiv{
    width: 70px;
    margin-left: 15px;
    float: left;
}
.headingdiv{
    margin-right: 5px;
}


@media (max-width:1000px){
    .slotnavbar{
        width:750px;
        height:20px;
        margin-top: 10px;
        margin-left: 20px;
        position: absolute;
    }
    .navtoolbar{
        width:500px;
        height:10px;
        margin-left: 230px;
        position: absolute;
    }
    .heading{
        font-size: 20px;
        float:left;
        font-weight: bolder;
    }
    .userlabel{
        float:left;
        width:180px;
        font-size: 12px;
        font-weight: bolder;
    }
    .links{
        font-size: 12px;
        float:left;
        margin-left: 6px;
    }
    .logoutbutton{
        width: 30px;
        height:10px;
        float:left;
    }
    .logoutb{
        width: 38px;
        height:15px;
        float: left;
        margin-left: 10px;
        font-size: 7px;
        font-weight: bold;
    }
    .adminDiv{
        width: 50px;
        margin-left: 15px;
        float: left;
    }
    .headingdiv{
        margin-right: 20px;
        font-size: 14px;
    }
}