.queuecontainer{
    width:70%;
    height:200px;
    background-color:beige;
    position: absolute;
}

.queuebox{
    width: 900px;
    height:180px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: bisque;
}

.qbox{
    width: 130px;
    height:130px;
    margin-left: 20px;
    background-color:darkkhaki;
    float: left;
    border: solid yellow 10px;
}

.qemoji{
    font-size: 70px;
}

.qno{
    font-size: 40px;
    font-weight: bolder;
    float: left;
    margin-left: 10px;
}

.qmultiple{
    font-size: 40px;
    font-weight: bolder;
    float:right;
    margin-right: 10px;
}