.doors {
    float:none;
    width: 100%;
    height: 10vw;
    
}

.door {
    float: left;
background: #fafafa;
width: 8vw;
height: 10vw;
overflow: hidden;
border-radius: 5px;
margin: 0;
margin-left: 1.3vw;
margin-top: 3.5vw;
font-family: 'Quicksand', sans-serif;
font-weight: 600;

box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxes {
    /* width: 5%;
    height: 35%; */
    
    transition: transform 1s ease-in-out;
    
  }
  
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
  }