.doors {
    float:none;
    width: 100%;
    height: 10vw;
    
}

.door {
    float: left;
background: #fafafa;
width: 8vw;
height: 10vw;
overflow: hidden;
border-radius: 5px;
margin: 0;
margin-left: 1.3vw;
margin-top: 3.5vw;
font-family: 'Quicksand', sans-serif;
font-weight: 600;

box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxes {
    /* width: 5%;
    height: 35%; */
    
    transition: transform 1s ease-in-out;
    
  }
  
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
  }

  .slotsection{
    width: 30%;
    height:100%;
    background-color: bisque;
    float: left;
  }

  .slothead{
    width: 100%;
    height : 150px;
    background-color: blueviolet;
    margin-top: 50px;
  }

  .slotheadtext{
    font-weight: bolder;
    font-size: xx-large;
    color: #fafafa;
    margin-top: 80px;
    display:inline-block;
  }

  .countdowndiv{
    width: 92%;
    height : 150px;
    background-color:cornsilk;
    border: 20px solid yellow;
    border-radius: 50px;
  }

  .countdowntext{
    font-weight: bolder;
    font-size: 70px;
    color: black;
    margin-top: 40px;
    display:inline-block;
    
  }

  .container{
    width: 100%;
    height:100%;
  }