@media (max-width: 1080px) {
  .spinrightsection {
    float: right;
    width: 65%;
    height: 360px;
  }
  /* .winning_lines {
    display: "block";
    position: "absolute";
    margin-left: "0px";
    margin-top: "50px";
  } */
  .betting_board {
    height: 250px;
    width: 500px;
    margin-top: 80px;
  }
  .betting_board2 {
    width: 360px;
    height: 10px;
    margin-top: 75px;
    margin-left: 40px;
    position: absolute;
  }

  .betting_board3 {
    width: 360px;
    height: 10px;
    margin-top: 125px;
    margin-left: 40px;
    position: absolute;
  }

  .betting_board4 {
    width: 360px;
    height: 10px;
    margin-top: 175px;
    margin-left: 40px;
    position: absolute;
  }
  .betting_board5 {
    width: 8px;
    height: 150px;
    float: left;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
  }
  .betting_board6 {
    width: 40px;
    margin-top: 10px;
    margin-left: 430px;
    height: 220px;
    position: absolute;
    background-color: green;
    box-shadow: inset 0 0 0 1px white;
  }
  .betting_board7 {
    width: 200px;
    margin-top: 235px;
    margin-left: 100px;
    height: 40px;
    position: absolute;
  }

  /* style={{ marginLeft: "35vw", marginTop: "1.5vw" }} */
  /* style={{
    display: "block",
    position: "absolute",
    marginLeft: "0px",
    marginTop: "50px",
  }} */
  /* style={{
    width: "600px",
    height: "10px",
    marginTop: "85px",
    position: "absolute",
  }} */

  .number_board {
    width: 400px;
    height: 250px;
    margin-top: 0px;
    margin-left: 40px;
  }
  /* style={{
    width: "600px",
    height: "180px",
    marginTop: "0px",
    marginLeft: "0px",
  }} */

  .number {
    width: 30px;
    height: 50px;
    float: left;
  }

  .button_2to1 {
    width: 30px;
    height: 50px;
    float: left;
    box-shadow: inset 0 0 0 1px white;
    background-color: green;
  }

  .button_2to1_label {
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-left: 2px;
  }
  /* style={{
    width: "50px",
    height: "90px",
    float: "left",
    backgroundColor: color,
    boxShadow: "inset 0 0 0 1px white",
  }} */

  .number_box {
    width: 390px;
    height: 50px;
    float: left;
    background-color: white;
  }
  /* style={{
          width: "660px",
          height: "90px",
          float: "left",
          backgroundColor: "white",
        }} */

  .digits {
    margin-left: 10px;
    margin-top: 18px;
    width: 10px;
    height: 15px;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 12px;
  }
  /* style={{
          marginLeft: "15px",
          marginTop: "40px",
          width: "20px",
          height: "20px",
          cursor: "pointer",
          float: "left",
          color: "white",
          fontSize: "20px",
        }} */

  .number_0 {
    width: 20px;
    margin-top: 30px;
    margin-left: -20px;
    height: 150px;
    position: absolute;
    background-color: green;
    box-shadow: inset 0 0 0 1px white;
  }
  /* style={{
          width: "50px",
          marginTop: "50px",
          marginLeft: "-50px",
          height: "270px",
          position: "absolute",
          backgroundColor: "green",
          boxShadow: "inset 0 0 0 1px white",
        }} */
  .digit_0 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
    color: white;
    cursor: "pointer";
    margin-left: 5px;
  }

  /* style={{
    fontWeight: "bold",
    fontSize: "20px",
    marginTop: "135px",
    color: "white",
    cursor: "pointer",
  }} */

  .Bbtop {
    width: 360px;
    height: 30px;
  }

  .top_button {
    width: 180px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }

  .half_digit {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-left: 65px;
  }

  .dozen_box {
    width: 360px;
    height: 30px;
    float: left;
  }

  .dozen {
    width: 120px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }

  .dozen_label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: 40px;
  }

  .bottom_box {
    width: 360px;
    height: 30px;
    float: left;
  }

  .bottom {
    width: 90px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }

  .bottom_label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
  }

  .Ttbbetblock {
    width: 10px;
    height: 8px;
    cursor: pointer;
    float: left;
  }

  .single_button {
    cursor: pointer;
    position: absolute;
    margin-left: -3px;
    margin-top: -3px;
    width: 11px;
    height: 11px;
    color: black;
    background-color: white;
    border-radius: 100%;
    /* border-color: yellow; */
    font-size: 8px;
    font-weight: bold;
  }

  .Rtlbb {
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: top;
  }

  .Wlcbblock {
    width: 10px;
    height: 10px;
    cursor: pointer;
    float: left;
    position: absolute;
  }

  .chipdeck {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-left: 6px;
    background-color: white;
    border-radius: 100%;
    color: black;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .selected_chip {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 3px;
    background-color: white;
    border-radius: 100%;
    font-size: 10px;
    color: "black";
    font-weight: bold;
    cursor: pointer;
  }

  .selected_chip_label {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .spinrightsection {
    width: 100%;
    height: 60%;
  }
  .betting_board {
    height: 250px;
    width: 350px;
    /* margin-top: 80px; */
  }
  .winning_lines {
    /* display: "block"; */
    position: absolute;
    margin-left: 0px;
    margin-top: 50px;
  }
  .betting_board2 {
    width: 300px;
    height: 10px;
    margin-top: 15px;
    margin-left: 30px;
    position: absolute;
  }
  .betting_board3 {
    width: 300px;
    height: 10px;
    margin-top: 55px;
    margin-left: 30px;
    position: absolute;
  }

  .betting_board4 {
    width: 300px;
    height: 10px;
    margin-top: 95px;
    margin-left: 30px;
    position: absolute;
  }
  #betting_board5_0 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 50px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_1 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 75px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_2 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 100px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_3 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 125px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_4 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 150px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_5 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 175px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_6 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 200px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_7 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 225px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_8 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 250px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_9 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 275px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_10 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 300px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_11 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 325px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  #betting_board5_12 {
    width: 8px;
    height: 120px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 350px !important;
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
  }
  .Rtlbb {
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  #rtlbb1 {
    margin-top: 15px !important;
  }
  #rtlbb2 {
    margin-top: 30px !important;
  }
  #rtlbb3 {
    margin-top: 45x !important;
  }

  #corner_0 {
    margin-left: 50px !important;
    margin-top: 15px !important;
  }
  #corner_1 {
    margin-left: 75px !important;
    margin-top: 15px !important;
  }
  #corner_2 {
    margin-left: 100px !important;
    margin-top: 15px !important;
  }
  #corner_3 {
    margin-left: 125px !important;
    margin-top: 15px !important;
  }
  #corner_4 {
    margin-left: 150px !important;
    margin-top: 15px !important;
  }
  #corner_5 {
    margin-left: 175px !important;
    margin-top: 15px !important;
  }
  #corner_6 {
    margin-left: 200px !important;
    margin-top: 15px !important;
  }
  #corner_7 {
    margin-left: 225px !important;
    margin-top: 15px !important;
  }
  #corner_8 {
    margin-left: 250px !important;
    margin-top: 15px !important;
  }
  #corner_9 {
    margin-left: 275px !important;
    margin-top: 15px !important;
  }
  #corner_10 {
    margin-left: 300px !important;
    margin-top: 15px !important;
  }
  #corner_11 {
    margin-left: 50px !important;
    margin-top: 55px !important;
  }
  #corner_12 {
    margin-left: 75px !important;
    margin-top: 55px !important;
  }
  #corner_13 {
    margin-left: 100px !important;
    margin-top: 55px !important;
  }
  #corner_14 {
    margin-left: 125px !important;
    margin-top: 55px !important;
  }
  #corner_15 {
    margin-left: 150px !important;
    margin-top: 55px !important;
  }
  #corner_16 {
    margin-left: 175px !important;
    margin-top: 55px !important;
  }
  #corner_17 {
    margin-left: 200px !important;
    margin-top: 55px !important;
  }
  #corner_18 {
    margin-left: 225px !important;
    margin-top: 55px !important;
  }
  #corner_19 {
    margin-left: 250px !important;
    margin-top: 55px !important;
  }
  #corner_20 {
    margin-left: 275px !important;
    margin-top: 55px !important;
  }
  #corner_21 {
    margin-left: 300px !important;
    margin-top: 55px !important;
  }

  .Bbtop {
    width: 300px;
    height: 30px;
  }

  .top_button {
    width: 150px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }
  .number_board {
    width: 400px;
    height: 250px;
    margin-top: 0px;
    margin-left: 30px;
  }
  .number_box {
    width: 330px;
    height: 40px;
    float: left;
    background-color: white;
  }
  .number {
    width: 25px;
    height: 40px;
    float: left;
  }

  .button_2to1 {
    width: 30px;
    height: 40px;
    float: left;
    box-shadow: inset 0 0 0 1px white;
    background-color: green;
  }
  .chipdeck {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    height: 25px;
    width: 25px;
    margin-top: 8px;
    margin-left: 30px;
    background-color: white;
    border-radius: 100%;
    color: black;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    float: left;
  }

  .selected_chip {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: white;
    border-radius: 100%;
    font-size: 10px;
    color: "black";
    font-weight: bold;
    cursor: pointer;
    float: left;
  }

  .selected_chip_label {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
  .betting_board6 {
    width: 250px;
    margin-top: 220px;
    margin-left: 50px;
    height: 40px;
    position: absolute;
    background-color: green;
    box-shadow: inset 0 0 0 1px white;
  }

  .dozen_box {
    width: 300px;
    height: 30px;
    float: left;
  }

  .dozen {
    width: 100px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }

  .dozen_label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: 25px;
  }
  .bottom_box {
    width: 300px;
    height: 30px;
    float: left;
  }

  .bottom {
    width: 75px;
    height: 30px;
    background-color: green;
    float: left;
    box-shadow: inset 0 0 0 1px white;
  }

  .bottom_label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
  }

  .betting_board7 {
    width: 200px;
    margin-top: 255px;
    margin-left: 100px;
    height: 40px;
    position: absolute;
  }
}
